body {
  background-color: white;
}

.header {
  list-style-type: none;
  font-family: arial, sans-serif;
  font-size: 13px;
  padding-left: 0;
}

.profilePhoto {
  background-color: blue;
}

ul {
  padding-left: 0px;
  list-style-type: none;
}
ul li {
  display: inline-block;
  width: 60px;
  height: 32px;
  background-color: red;
  line-height: 32px;
  text-align: center;
}
.header-top > * {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-top > * > * {
  margin: 5px;
}
.avatar-circle {
  border-radius: 100%;
}
.grid-dot > i {
  font-size: 22px;
  margin: 2px;
  color: grey;
}

.searchdiv {
  padding: 5px;
  border-radius: 23px;
  display: flex;
  align-items: center;
  max-width: 33%;
  -webkit-box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.77);
  box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.77);
  margin-top: 1.5%;
  justify-content: center;
}
.searchdiv > a {
  height: -webkit-fill-available;
  margin-bottom: 0px;
}
.searchdiv > input {
  height: 25px;
  width: -webkit-fill-available;
  border: 0px;
}
.searchdiv > input:focus {
  outline: none;
}

.searchdiv > * > * {
  max-height: 25px;
}
.searchdiv > * {
  margin: 5px;
}

.buttons {
  border: none;
  border-radius: 4px;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  margin-top: 20px;

}